svg.graphs_r_d3tree .node circle {
  /*fill: #999;*/
}

svg.graphs_r_d3tree .node text {
  font: 10px sans-serif;
}

svg.graphs_r_d3tree .node--internal circle {
  /*fill: #555;*/
}

svg.graphs_r_d3tree .node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

svg.graphs_r_d3tree .link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

.node--leaf circle {
  /*fill: #fff;*/
}

.node--internal circle {
//*  fill: lightsteelblue;*/
}

.node--internal {
  cursor: pointer;
}